<add-post refresh-posts="$ctrl.refreshPosts()"></add-post>

<div class="row post-filter-selection text-center">
    <div class="btn-group" role="group" aria-label="Sort posts by">
        <button type="button" class="btn btn-default" ng-click="$ctrl.sortByRecent()" ng-class="{'active' : $ctrl.isSortedByRecent }">latest posts</button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.sortByPopularity()" ng-class="{'active' : !$ctrl.isSortedByRecent }">most popular (monthly)</button>
    </div>
</div>

<div id="post-grid" class="row" masonry='{ "itemSelector": "post", "percentPosition": true }'>
    <post class="col-lg-4 col-md-6 col-xs-12" ng-repeat="post in $ctrl.posts" post-data="post" masonry-tile></post>
</div>