﻿body {
    background-color: #36465d;
}

a.router-link {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
h1.header {
    font-family: 'overpass', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #fff;
    /* border: 2px solid #000; */
    border-radius: 25px;
    padding: 30px 0;
}
/* END OF HEADER */

/* TAG CLOUD */
div#tag-cloud {
    border-radius: 20px;
    margin-bottom: 10px;
}

div#tag-cloud a.tag {
    font-family: 'overpass', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 5px;
    text-decoration: none;
}
/* END OF TAG CLOUD */

/* ANGER FORM */
div.anger-form {
    margin: 30px 0;
}

div.anger-form div.panel {
    padding-top: 10px;
    border-radius: 15px;
}

textarea.anger-textarea {
    height: 2.5em;
}

div.location-info {
    margin-left: 5px;
    margin-top: 5px;
}

.location-name {
    vertical-align: middle;
    margin-left: 5px;
}
/* END OF ANGER FORM */

/* POST GRID */

div.post-filter-selection {
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.panel-clickable {
    cursor: pointer;
}

div.panel-clickable:hover {
    background-color: #fbfbfb;
}

.user-detail {
    margin-bottom: 15px;
}

p.post-body {
    margin-bottom: 20px;
}

img.post-image {
    margin-bottom: 20px;
}

small.post-timestamp {
    line-height: 2;
}

.liked {
    color: #4267b2;
}

.disliked {
    color: #b25542;
}
/* END OF POST GRID */

/* BACK TO TOP BUTTON */
a.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 70px;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}

a.back-to-top span {
    font-size: 60px;
}
/* END OF BACK TO TOP BUTTON */
