<div class="anger-form">
    <div class="panel panel-default col-xs-12">
        <div class="panel-body" id="anger-form-panel">
            <form name="formCtrl.angerForm" ng-submit="$ctrl.submitAnger(formCtrl.formData)" novalidate>
                <div class="row user-detail-form">
                    <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-success': formCtrl.angerForm.name.$dirty}">
                        <input name="name" type="text" class="form-control" ng-model="formCtrl.formData.author.name" placeholder="Name (optional)">
                    </div>
                    <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-error': formCtrl.angerForm.email.$dirty && formCtrl.angerForm.email.$invalid, 'has-success': formCtrl.angerForm.email.$dirty && formCtrl.angerForm.email.$valid}">
                        <input name="email" type="email" class="form-control" ng-model="formCtrl.formData.author.email" placeholder="Email (optional)">
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': formCtrl.angerForm.body.$dirty && formCtrl.angerForm.body.$valid}">
                    <textarea name="body" class="anger-textarea form-control" ng-focus="$ctrl.expandPostBody()" ng-model="formCtrl.formData.body"
                        placeholder="What angers you today?" required></textarea>
                </div>
                <div class="post-controls">
                    <div class="pull-left location-info">
                        <div class="loading-location" ng-show="$ctrl.loadingLocation">
                            <img class="spinner" src="images/loading-spinner.gif" />
                            <span class="text-muted location-name">Getting location..</span>
                        </div>
                        <div class="found-location" ng-hide="$ctrl.loadingLocation">
                            <span class="fa fa-map-marker fa-lg" aria-hidden="true"></span>
                            <span class="text-muted location-name">{{ $ctrl.userLocation.location }}</span>
                        </div>
                    </div>
                    <input class="btn btn-primary pull-right post-btn" type="submit" value="Post" ng-disabled="formCtrl.angerForm.$invalid">
                </div>
            </form>
        </div>
    </div>
</div>