<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngryToday - Cleanse your anger!</title>

    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */

        /* Since Angular has this but needs to load, this gives us the class early. */

        .ng-hide {
            display: none !important;
        }
    </style>

    <!-- inject-vendor:css -->
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="./vendor/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="./content/fonts/overpass/overpass.css" />
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="./content/styles.css" />
    <!-- endinject -->
</head>

<body>


    <div class="container">
        <h1 class="text-center header">AngryToday</h1>

        <!-- Tag Cloud -->
        <div id="tag-cloud" ng-controller="TagCloudController as tagCloud" class="row text-center">
            <a href="#" class="tag" ng-repeat="tag in tagCloud.tags" rel="{{ tag.weight }}">{{ tag.tag }}</a>
        </div>

        <!-- Anger Form -->
        <div class="anger-form">
            <div class="panel panel-default col-xs-12">
                <div class="panel-body" id="anger-form-panel">
                    <form name="formCtrl.angerForm" ng-controller="AngerFormController as formCtrl" ng-submit="formCtrl.submitAnger(formCtrl.formData)"
                        novalidate>
                        <div class="row user-detail-form">
                            <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-success': formCtrl.angerForm.name.$dirty}">
                                <input name="name" type="text" class="form-control" ng-model="formCtrl.formData.author.name" placeholder="Name (optional)">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6" ng-class="{'has-error': formCtrl.angerForm.email.$dirty && formCtrl.angerForm.email.$invalid}">
                                <input name="email" type="email" class="form-control" ng-model="formCtrl.formData.author.email" placeholder="Email (optional)">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-success': formCtrl.angerForm.body.$dirty && formCtrl.angerForm.body.$valid}">
                            <textarea name="body" class="anger-textarea form-control" ng-focus="formCtrl.expandTextbox()" ng-model="formCtrl.formData.body"
                                placeholder="What angers you today?" required></textarea>
                        </div>
                        <div class="post-controls">
                            <div class="pull-left location-info">
                                <div class="loading-location" ng-show="formCtrl.loadingLocation">
                                    <img class="spinner" src="./content/loading-spinner.gif" />
                                    <span class="text-muted location-name">Getting location..</span>
                                </div>
                                <div class="found-location" ng-hide="formCtrl.loadingLocation">
                                    <span class="fa fa-map-marker fa-lg" aria-hidden="true"></span>
                                    <span class="text-muted location-name">{{ formCtrl.formData.location.name }}</span>
                                </div>
                            </div>
                            <input class="btn btn-primary pull-right post-btn" type="submit" value="Post" ng-disabled="formCtrl.angerForm.$invalid">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Posts -->
        <div ng-controller="DisplayPostsController as postsCtrl">
            <div class="row post-filter-selection text-center">
                <div class="btn-group" role="group" aria-label="Sort posts by">
                    <button type="button" class="btn btn-default btn-sort-recent" ng-click="postsCtrl.sortByRecent()">latest posts</button>
                    <button type="button" class="btn btn-default btn-sort-popularity" ng-click="postsCtrl.sortByPopularity()">most popular (monthly)</button>
                </div>
            </div>

            <div id="post-grid" class="row">
                <!-- add sizing element for Masonry's columnWidth -->
                <div class="post-grid-sizer col-lg-4 col-md-6 col-xs-12"></div>
                <div class="post col-lg-4 col-md-6 col-xs-12" ng-repeat="post in postsCtrl.posts | filter: {updated: postsCtrl.monthFilter}">
                    <div class="panel panel-default panel-clickable" ng-click="postsCtrl.openModal(post)">
                        <div class="panel-body">
                            <div class="user-detail">
                                <div class="user-name">
                                    <strong>{{ post.author.name }}</strong>
                                </div>
                                <div class="user-email-location">
                                    <small>{{ post.location.name }}
                                        <span ng-if="post.author.email">- {{ post.author.email }}</span>
                                    </small>
                                </div>
                            </div>
                            <p class="post-body">{{ post.body }}</p>
                            <img ng-if="post.photo_url" ng-src="{{post.photo_url}}" class="img-responsive post-image" alt="Post image" />

                            <div class="form-group">
                                <div class="pull-left">
                                    <div class="btn-group btn-group-xs" role="group">
                                        <button type="button" class="btn btn-default" ng-click="postsCtrl.like(post); $event.stopPropagation();" ng-class="{'active': post.liked}">
                                            <div ng-class="{'liked': post.liked}">
                                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                                </a> {{ post.likes }}
                                            </div>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="postsCtrl.dislike(post); $event.stopPropagation();" ng-class="{'active': post.disliked, 'disliked': post.disliked }">
                                            <div ng-class="{'disliked': post.disliked}">
                                                <span class="glyphicon glyphicon-thumbs-down"></span> {{ post.dislikes }}
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <small class="pull-right post-timestamp">posted {{ post.updated | timeago }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-repeat="post in postsCtrl.posts" id="{{ post.identity }}" class="modal fade post-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="user-detail">
                                <div class="user-name">
                                    <strong>{{ post.author.name }}</strong>
                                    <div class="pull-right">
                                        <div class="btn-group btn-group-xs" role="group">
                                            <button type="button" class="btn btn-default" ng-click="postsCtrl.like(post); $event.stopPropagation();" ng-class="{'active': post.liked}">
                                                <div ng-class="{'liked': post.liked}">
                                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                                    </a> {{ post.likes }}
                                                </div>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="postsCtrl.dislike(post); $event.stopPropagation();" ng-class="{'active': post.disliked, 'disliked': post.disliked }">
                                                <div ng-class="{'disliked': post.disliked}">
                                                    <span class="glyphicon glyphicon-thumbs-down"></span> {{ post.dislikes }}
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-email-location">
                                    <small>{{ post.location.name }}
                                        <span ng-if="post.author.email">- {{ post.author.email }}</span>
                                    </small>
                                </div>
                            </div>
                            <p class="post-body">{{ post.body }}</p>
                            <img ng-if="post.photo_url" ng-src="{{post.photo_url}}" class="img-responsive post-image" alt="Post image" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <a href="#" class="back-to-top text-center" ng-controller="ScrollController as scrollCtrl" ng-click="scrollCtrl.scrollToTop()">
        <span class="fa fa-angle-up"></span>
    </a>

    <!-- inject-vendor:js -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAn6WRJmplHTGCYcSjxK2De0sCdOzxNNQg"></script>
    <script src="./vendor/jquery/dist/jquery.min.js"></script>
    <script src="./vendor/jquery-tagcloud/jquery.tagcloud.js"></script>
    <script src="./vendor/angular/angular.js"></script>
    <script src="./vendor/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="./vendor/angular-google-geocoding/angular.google.geocoding.min.js"></script>
    <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="./vendor/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <script src="./vendor/ng-timeago/ngtimeago.js"></script>
    <!-- endinject -->

    <!-- inject:js-->
    <script src="./app2/app.module.js"></script>
    <script src="./app2/services/app.postsService.js"></script>
    <script src="./app2/directives/anger-post.directive.js"></script>
    <script src="./app2/controllers/app.ScrollController.js"></script>
    <script src="./app2/controllers/app.DisplayPostsController.js"></script>
    <script src="./app2/controllers/app.TagCloudController.js"></script>
    <script src="./app2/controllers/app.AngerFormController.js"></script>
    <!-- endinject-->
</body>

</html>