
    <div class="panel panel-default panel-clickable"  ui-sref="home.post({ postId: $ctrl.id })">
        <div class="panel-body">
            <div class="user-detail">
                <div class="user-name">
                    <strong>{{$ctrl.name}}</strong>
                </div>
                <div class="user-email-location">
                    <small>{{$ctrl.location}}
                        <span ng-if="$ctrl.email">- {{$ctrl.email}}</span>
                    </small>
                </div>
            </div>
            <p class="post-body">{{$ctrl.body}}</p>
            <img ng-if="$ctrl.photoUrl" ng-src="{{$ctrl.photoUrl}}" class="img-responsive post-image" alt="Post image" />

            <div class="form-group">
                <div class="pull-left">
                    <div class="btn-group btn-group-xs" role="group">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.like($ctrl.postData.id); $event.stopPropagation();" ng-class="{'active': $ctrl.liked}">
                            <div ng-class="{'liked': $ctrl.liked}">
                                <span class="glyphicon glyphicon-thumbs-up"></span> {{$ctrl.likes}}
                            </div>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="$ctrl.dislike($ctrl.postData.id); $event.stopPropagation();" ng-class="{'active': $ctrl.disliked, 'disliked': $ctrl.disliked }">
                            <div ng-class="{'disliked': $ctrl.disliked}">
                                <span class="glyphicon glyphicon-thumbs-down"></span> {{$ctrl.dislikes}}
                            </div>
                        </button>
                    </div>
                </div>
                <small class="pull-right post-timestamp">posted {{ $ctrl.updated | timeago }}</small>
            </div>
        </div>
    </div>
