<div class="modal-content">
    <div class="modal-body">
        <div class="user-detail">
            <div class="user-name">
                <strong>{{$ctrl.postData.author.name}}</strong>
                <div class="pull-right">
                    <div class="btn-group btn-group-xs" role="group">
                        <button type="button" class="btn btn-default" ng-click="postsCtrl.like(post); $event.stopPropagation();" ng-class="{'active': post.liked}">
                            <div ng-class="{'liked': post.liked}">
                                <span class="glyphicon glyphicon-thumbs-up"></span> {{$ctrl.postData.likes}}
                            </div>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="postsCtrl.dislike(post); $event.stopPropagation();" ng-class="{'active': post.disliked, 'disliked': post.disliked }">
                            <div ng-class="{'disliked': post.disliked}">
                                <span class="glyphicon glyphicon-thumbs-down"></span> {{$ctrl.postData.dislikes}}
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="user-email-location">
                <small>{{$ctrl.postData.location}}
                    <span ng-if="$ctrl.postData.author.email">- {{$ctrl.postData.author.email}}</span>
                </small>
            </div>
        </div>
        <p class="post-body">{{$ctrl.postData.body}}</p>
        <img ng-if="post.photo_url" ng-src="{{post.photo_url}}" class="img-responsive post-image" alt="Post image" />
    </div>
</div>