﻿@{
    ViewData["Title"] = "Home Page";
}

@section scripts
    {
    <script src="angryToday/app.module.js"></script>
    <script src="angryToday/app.component.js"></script>
    <script src="angryToday/app.routes.js"></script>
    <script src="angryToday/posts.service.js"></script>
    <script src="angryToday/post-grid/add-post/add-post.component.js"></script>
    <script src="angryToday/post-grid/post-grid.component.js"></script>
    <script src="angryToday/post-grid/post/post.component.js"></script>

    <script src="angryToday/tag-cloud/tag-cloud.component.js"></script>
}

@section jsCode
    {
    angular.bootstrap(document.getElementById("angryToday-app"), ['angryToday'])
}

<div ng-non-bindable class="container">
    <a class="router-link" ui-sref="home">
        <h1 class="text-center header">AngryToday</h1>
    </a>
    <div id="angryToday-app" ng-cloak>
        <ui-view></ui-view>
    </div>
</div>