﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AngryToday</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/fonts/overpass/overpass.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css"
              asp-fallback-test-class="btn-success"
              asp-fallback-test-property="border-color"
              asp-fallback-test-value="#3e8f3e" />
        <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/fonts/overpass/overpass.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    @RenderBody()

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-web-api-security.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAn6WRJmplHTGCYcSjxK2De0sCdOzxNNQg"></script>
    <script src="lib/angular-google-geocoding/angular.google.geocoding.min.js"></script>
    <script src="lib/angular-masonry-directive/angular-masonry-directive.js"></script>
    <script src="lib/angular-modal-service/angular-modal-service.min.js"></script>
    <script src="lib/angular-ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="lib/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="lib/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="lib/ng-timeago/ngtimeago.js"></script>
    <script src="lib/jquery-tagcloud/jquery.tagcloud.js"></script>
    <script src="lib/masonry-layout/dist/masonry.pkgd.min.js"></script>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        @RenderSection("jsCode", required: false)
    </script>

</body>
</html>
